<%= form_for(@transaction) do |f| %>
  <% if @transaction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@transaction.errors.count, "error") %> prohibited this transaction from being saved:</h2>

      <ul>
      <% @transaction.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :amount %><br>
    <%= f.text_field :amount %>
  </div>
  <div class="field">
    <%= f.label :exchange_date %><br>
    <%= f.date_select :exchange_date %>
  </div>
  <div class="field">
    <%= f.label :credit_or_debit %><br>
    <%= f.text_field :credit_or_debit %>
  </div>
  <div class="field">
    <%= f.label :paid_to %><br>
    <%= f.text_field :paid_to %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
