<h1> Wallet Stuff </h1>

<p>Your balance is: <%= number_to_currency(@balance) %></p>

<p>You've made <%= @transaction_total %> total transactions from this wallet.</p>
<p>You've made <%= @month_transactions %> transactions this month.</p>
<p>You made <%= @last_month_transactions %> last month.</p>
<p> You've spent <%= number_to_currency(@current_month) %> this month.</p>

<%= link_to "Transactions list", transactions_path %>

<%= link_to 'New Transaction', new_transaction_path %>
